#contact {
    border: 2px solid #fff; /* Borde de 2 píxeles de grosor, sólido y blanco */
    padding: 20px;          /* Espacio interno de 20 píxeles */
    margin: 20px 0;         /* Espacio externo arriba y abajo de 20 píxeles */
    border-radius: 5px;    /* Bordes redondeados con un radio de 5 píxeles */
}
.about_contact{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Define 3 columnas de igual tamaño */
    grid-template-rows: repeat(1, 1fr);    /* Define 3 filas de igual tamaño */
    gap: 5px; 
}
.contact_img{
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 10%;
}
.contact_img, .contact_info{
    display: flex;
    justify-content: space-between;
}

.contact_img{
    grid-column: 1 / 2; /* Ocupa la primera columna */
    grid-row: 1 / 2;    /* Ocupa la primera fila */
}
.contact_info{
    grid-column: 2 / 3; /* Ocupa la primera columna */
    grid-row: 1 / 2;    /* Ocupa la primera fila */
}
#contact ul{
    
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
#contact li{
    margin-right: 20px;
}
li a{
    text-decoration: none;
    color: #fff;
}

