#projects {
    border: 2px solid #fff; /* Borde de 2 píxeles de grosor, sólido y blanco */
    padding: 20px;          /* Espacio interno de 20 píxeles */
    margin: 20px 0;         /* Espacio externo arriba y abajo de 20 píxeles */
    border-radius: 5px;    /* Bordes redondeados con un radio de 5 píxeles */
}

.project {
    background-color: #444;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.project h3 {
    margin-top: 10px;
}

.about_project{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Define 3 columnas de igual tamaño */
    grid-template-rows: repeat(1, 1fr);    /* Define 3 filas de igual tamaño */
    gap: 5px; 
}

.project, .img_proyect {
    display: flex;
    justify-content: space-between;
}

.img_proyect{
    display: flex;
    justify-content: flex-end; 
    grid-column: 1 / 2; /* Ocupa la primera columna */
    grid-row: 1 / 2;    /* Ocupa la primera fila */
}

.project{
    grid-column: 2 / 4; /* Ocupa la primera columna */
    grid-row: 1 / 2;    /* Ocupa la primera fila */
}

